<footer role="contentinfo" th:fragment="footer" xmlns:th="http://www.thymeleaf.org">
    <div class="ministere-interieur">
        <p>
            Ministère de l'Intérieur - DNUM - SDSI
        </p>

        <img src="/logo_dnum.svg" alt="Logo DNUM"/>
    </div>
    <div class="footer">
        <a
                href="/faq"
                title="FAQ"
        >
            FAQ
        </a>

        <a
                href="https://distribution-masques-covid-19.interieur.gouv.fr/confidentialite.html"
                title="Confidentialité - nouvelle page"
                target="_blank"
        >
            Confidentialité
        </a>

        <a
                href="https://distribution-masques-covid-19.interieur.gouv.fr/conditions-utilisation.html"
                title="Conditions d'utilisation - nouvelle page"
                target="_blank"
        >
            Conditions d'utilisation
        </a>

        <a
                href="https://distribution-masques-covid-19.interieur.gouv.fr/mentions-legales.html"
                title="Mentions légales - nouvelle page"
                target="_blank"
        >
            Mentions légales et crédits
        </a>

        <a
                href="https://www.gouvernement.fr/info-coronavirus"
                title="Information du gouvernement sur le Covid-19 - nouvelle page"
                target="_blank"
        >
            Informations du gouvernement sur le Covid-19
        </a>

        <p>
            Plus d’infos au
            <a href="tel:0800130000">0 800 130 000</a>
        </p>
        <p id="version"></p>
    </div>
</footer>
