<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <logger name="fr.gouv.interieur.dmgp.remettant" additivity="false" level="DEBUG">
        <appender-ref ref="CONSOLE"/>
    </logger>
    <root level="ERROR">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>